@import "variables";

.title {
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.8;
  margin: 0 0;
}

.title-line {
  font-family: Titillium Web, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  display: flex;
}

.document-container {
  width: 100%;
  margin-left: 5em;
  display: flex;
  flex-direction: column;
}

.item-arrow {
  justify-content: center;
  align-items: center;
  display: flex;
  color: $legal-consult-grey;
  margin-right: 8px;
  cursor: pointer;
}

.line {
  display: flex;
  width: 80%;
  margin-top: 3em;
  height: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.label {
  font-weight: 600;
  width: 12em;
  color: #000000;
}

.label-value-area {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.label-value-row {
  display: flex;
  margin-top: 0.5em;
  font-size: 12px;
}

.label-value-row p {
  margin: 0 0;
  font-family: Titillium Web, serif;
}

.details-container {
  display: flex;
  flex-direction: row;
}

.button-wrapper {
  width: 200px;
  height: 50px;
  display: flex;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $legal-consult-green;
    border-radius: 1px;
    color: map-get($mat-white, 50);
    padding: 0 50px;
    height: 100%;
  }
}

.buttons-container {
  position: relative;
  width: 30%;
}

.buttons-wrapper-helper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: min-content;
}

.users-table-container {
  width: 70%;
  display: flex;
  position: relative;
}
