@import 'variables';

.viewer-editor-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .editor {
    background-color: $legal-consult-table-accent;
    padding: 1em;
    flex-basis: 45%;
  }

  .viewer {
    flex-basis: 30%;
  }

  .editor, .viewer {
    flex-grow: 1;
    min-width: 450px;
  }

  .buttons-panel {
    flex-grow: 1;
    background-color: $legal-consult-table-accent;
    flex-basis: 10%;
  }
}
