<div class="document-section-buttons-panel">
  <button *ngIf="hasAddChapter" mat-raised-button class="add" (click)="this.addChapterEventEmitter.emit()">
    <i class="fas fa-plus-circle"></i> {{'document.edit.add.chapter' | translate}}
  </button>

  <button *ngIf="hasAddSection" mat-raised-button class="add" (click)="this.addSectionEventEmitter.emit()">
    <i class="fas fa-plus-circle"></i> {{'document.edit.add.section' | translate}}
  </button>

  <button *ngIf="hasAddArticle" mat-raised-button class="add" (click)="this.addArticleEventEmitter.emit()">
    <i class="fas fa-plus-circle"></i> {{'document.edit.add.article' | translate}}
  </button>

  <button *ngIf="hasAddParagraph" mat-raised-button class="add" (click)="this.addParagraphEventEmitter.emit()">
    <i class="fas fa-plus-circle"></i> {{'document.edit.add.paragraph' | translate}}
  </button>

  <button *ngIf="hasAddAlignment" mat-raised-button class="add" (click)="this.addAlignmentEventEmitter.emit()">
    <i class="fas fa-plus-circle"></i> {{'document.edit.add.alignment' | translate}}
  </button>

  <button *ngIf="hasRemoveCurrentNode" mat-raised-button class="remove" (click)="this.removeCurrentNodeEventEmitter.emit()">
    <i class="fas fa-trash"></i> {{'document.edit.remove' | translate}}
  </button>
</div>
